h1 {
    font-family: Courier;
    color: #000000;
    font-size: 55pt;
    font-size: 3.5vw;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: Courier;
    color: #000000;
    font-size: 22pt;
    font-size: 2vw;
    font-weight: normal;
    text-align: center;
}

.display-messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scroll-box {
    text-align: left;
    margin: auto;
    background: #f4f4f4;
    border: 2px solid;
    border-color: #5F9EA0;
    height: 50%;
    width: 60%;
    padding: 10px;
    overflow-y: scroll;
}

.input-message {
    font-family: Courier;
    font-size: 12pt;
    margin: 0;
    background: #f4f4f4;
    border: 2px solid;
    width: 45%;
    line-height: 2em;
}

.send-button {
    font-family: Courier;
    font-size: 12pt;
    margin: 0;
    background: #f4f4f4;
    border: 2px solid;
    width: 5%;
    line-height: 2em;
}

.inputButton {
    width: 100%;
    display: flex;
    justify-content: center;
}