body {
    background-color: #FFE4E1;
}
h1 {
    font-family: Courier;
    color: #000000;
    font-size: 55pt;
    font-size: 3.5vw;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: Courier;
    color: #000000;
    font-size: 22pt;
    font-size: 2vw;
    font-weight: normal;
    text-align: center;
}

.display-messages {
    list-style-type: none;
    font-size: 8pt;
    font-size: 1vw;
    font-family: Courier;
    margin: 0;
    padding: 0;
}

.scroll-box {
    text-align: left;
    margin: auto;
    background-color: #FFF8DC;
    border: 2px solid;
    border-color: #5F9EA0;
    height: 65%;
    width: 70%;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.input-message {
    font-family: Courier;
    font-size: 12pt;
    font-size: 1vw;
    margin: 0;
    background-color: #F0FFFF;
    border: 2px solid;
    width: 45%;
    line-height: 2em;
}

.send-button {
    font-family: Courier;
    font-size: 12pt;
    font-size: 1vw;
    margin: 0;
    background-color: #B0E0E6;
    border: 2px solid;
    width: 5%;
    line-height: 2em;
}

.inputButton {
    width: 100%;
    display: flex;
    justify-content: center;
}